body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: #F6F6F6 !important;
  flex-grow: 1;
  min-height: calc(100vh - (90px + 145px)); 
  margin-top: 1%;
}

main#gerenciar {
  margin-top: 0.4%;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: OpenSansMedium;
  src: url(fonts/OpenSans-Medium.ttf) format('truetype'); 
}

.card-index-search {
  border: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
}

.afastarTopo {
  margin-top: 1.8%; 
}

.borda {
  border-radius: 10px !important;
}

.borda-top-tabela {
}

#tabelaEdicao {
  
  border-width: 10px !important;
  border-top: ridge;
  border-color: #000 ;

}

.borda-top-left {
  border-top-left-radius: 10px !important;
}

.borda-top-right {
  border-top-right-radius: 10px !important;
}

.borda-bottom-left {
  border-bottom-left-radius: 10px !important;
}

.borda-bottom-right {
  border-bottom-right-radius: 10px !important;
}

.borda-table {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.borda-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.borda-table tr:last-child td:first-child {
 border-bottom-left-radius: 10px;
}

.borda-table tr:last-child {
  border-bottom: transparent;
}

.borda-botao-nav {
  border-width: 2px !important;
}

tr#thead-tr {
  border-bottom: lightgray;
}

.navSans { 
  font-family: 'OpenSans', sans-serif;
  color: white;
  text-decoration: none;
}

.tituloObra {
  color: #32A041;
}

a.tituloObra:hover {
  color: #63c771;
}

.linkVerde {
  color: #32A041;
}

a.linkVerde:hover {
  color: #63c771;
}

.navA {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.7em;
}

a.navA:hover {
  color: #FFFFFF;
}

.navSansMedium {
  font-family: 'OpenSansMedium';
  src: url(fonts/OpenSans-Medium.ttf) format('truetype');
}

#buscar-input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  margin-top: 6px;
  outline: none;
  box-shadow: none;
}

#buscar-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #DEE2E6;
  margin-top: 6px;
  border-left: none;
}

#buscar-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#buscar-input:focus {
  border-color: #32A041;
}

.maxxxx {
  max-width: 55%;
  min-width: 55%;
}

.menoss {
  margin-top: -6px;
}

.margem-bottom {
  margin-bottom: 20px;
}

.diminuir-margem-top {
  margin-top: -5em;
}

.maiss {
  margin-top: 12px;
}

#buscar-input:focus + button {
  border-color: #32A041;
}

#buscar-button:hover{
  color:#32A041;
}

.margemb {
  margin-bottom: 3px;
}

.margemDireita {
  margin-right: 1.4%;
}

.margemT {
  margin-top: 10px;
}

.margem-top-30 {
  margin-top: 30px;
}

.sem-margem-bottom {
  margin-bottom: 0 !important;
}

.naosei {






}

.botao-file {
  background-color: #FFFFFF;
  color: #32A041;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px #32A741 solid;
  transition: background-color 0.2s;
}

.botao-file:hover {
  background-color: rgba(218, 218, 218, 0.4);
}

.botao-enviar {
  background-color: #32A041;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.botao-enviar:hover {
  background-color: rgba(65, 175, 80, 1);
}

.postarO {
  max-width: 40%;
}

.rodape {
  width: 100%;
  text-align: center;
}

.txtVerde {
  color: #32A041;
}

.txtBranco {
  color: #FFFFFF !important;
}

.bgVerde {
  background-color: #32A041;
}

.bgBranco {
  background-color: #FFFFFF;
}

.bgCinza {
  background-color: #F6F6F6;
}

.bgCinzaEscuro {
  background-color: #E0E0E0;
}